<div>

    <h2 translate="crmApp.item.home.title">Item</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveItemModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span
        translate="crmApp.item.home.createLabel">Create a new Item</span>
    </button>
    <div class="modal fade" id="saveItemModal" tabindex="-1" role="dialog" aria-labelledby="myItemLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myItemLabel" translate="crmApp.item.home.createOrEditLabel">Create
                            or edit a Item</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="item.id" readonly>
                        </div>
                        <div class="form-group">
                            <label translate="crmApp.codeBase.name">Name</label>
                            <input type="text" class="form-control"
                                   ng-model="item.name">
                        </div>
                        <div class="form-group">
                            <label translate="crmApp.item.description">Description</label>
                            <input type="text" class="form-control"
                                   ng-model="item.description">
                        </div>
                        <div class="form-group">
                            <label translate="crmApp.codeBase.dateEntry">DateEntry</label>
                            <input type="datetime-local" class="form-control" placeholder="dd.MM.yyyy HH:mm"
                                   ng-model="item.dateEntry | date:'dd.MM.yyyy HH:mm'" ng-model-options="{timezone: 'UTC'}">
                        </div>
                        <div class="form-group">
                            <label translate="crmApp.codeBase.dateValid">DateValid</label>
                            <input type="datetime-local" class="form-control"
                                   ng-model="item.dateValid" ng-model-options="{timezone: 'UTC'}">
                        </div>

                        <div class="form-group">
                            <label translate="crmApp.codeBase.person">person</label>
                            <select class="form-control" ng-model="item.person.id"
                                    ng-options="person.id as person.firstName for person in persons">
                            </select>
                        </div>


                        <div class="form-group">
                            <label translate="crmApp.item.unitOfMeasure">unitOfMeasure</label>
                            <select class="form-control" ng-model="item.unitOfMeasure.id"
                                    ng-options="unitOfMeasure.id as unitOfMeasure.name for unitOfMeasure in unitOfMeasures">
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteItemConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(item.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="crmApp.item.delete.question" translate-values="{id: '{{item.id}}'}">Are you sure
                            you want to delete Item {{item.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                            translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                            translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th translate="crmApp.item.description">Description</th>
                <th translate="crmApp.item.unitOfMeasure">unitOfMeasure</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items">
                <td><a ui-sref="itemDetails({id:item.id})">{{item.id}}</a></td>
                <td>{{item.description}}</td>
                <td>{{item.unitOfMeasure.name}}</td>
                <td>
                    <button type="submit"
                            ui-sref="itemDetail({id:item.id})"
                            class="btn btn-info">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button type="submit"
                            ng-click="update(item.id)"
                            class="btn btn-primary">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
                        translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ng-click="delete(item.id)"
                            class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
