<div>

    <h2 translate="crmApp.classificationType.home.title">ClassificationType</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveClassificationTypeModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="crmApp.classificationType.home.createLabel">Create a new ClassificationType</span>
    </button>
    <div class="modal fade" id="saveClassificationTypeModal" tabindex="-1" role="dialog" aria-labelledby="myClassificationTypeLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myClassificationTypeLabel" translate="crmApp.classificationType.home.createOrEditLabel">Create or edit a ClassificationType</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="classificationType.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="crmApp.classificationType.name">Name</label>
                            <input type="text" class="form-control"
                                   ng-model="classificationType.name">
                        </div>
                        <div class="form-group">
                            <label translate="crmApp.classificationType.mandatory">Mandatory</label>
                            <input type="number" class="form-control"
                                   ng-model="classificationType.mandatory">
                        </div>
                        <div class="form-group">
                            <label translate="crmApp.classificationType.objectClassificationType">ObjectClassificationType</label>
                            <input type="text" class="form-control"
                                   ng-model="classificationType.objectClassificationType">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteClassificationTypeConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(classificationType.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="crmApp.classificationType.delete.question" translate-values="{id: '{{classificationType.id}}'}">Are you sure you want to delete ClassificationType {{classificationType.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="crmApp.classificationType.name">Name</th>
                    <th translate="crmApp.classificationType.mandatory">Mandatory</th>
                    <th translate="crmApp.classificationType.objectClassificationType">ObjectClassificationType</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="classificationType in classificationTypes">
                    <td><a ui-sref="classificationTypeDetails({id:classificationType.id})">{{classificationType.id}}</a></td>
                    <td>{{classificationType.name}}</td>
                    <td>{{classificationType.mandatory}}</td>
                    <td>{{classificationType.objectClassificationType}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="classificationTypeDetail({id:classificationType.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(classificationType.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(classificationType.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
