<div>

    <h2 translate="crmApp.warehouse.home.title">Warehouse</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveWarehouseModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="crmApp.warehouse.home.createLabel">Create a new Warehouse</span>
    </button>
    <div class="modal fade" id="saveWarehouseModal" tabindex="-1" role="dialog" aria-labelledby="myWarehouseLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myWarehouseLabel" translate="crmApp.warehouse.home.createOrEditLabel">Create or edit a Warehouse</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="warehouse.id" readonly>
                        </div>
                        
                                <div class="form-group">
                            <label translate="crmApp.warehouse.name">Name</label>
                            <input type="text" class="form-control"
                                   ng-model="warehouse.name">
                        </div>
                        <div class="form-group">
                            <label translate="crmApp.warehouse.dateEntry">DateEntry</label>
                            <input type="datetime-local" class="form-control"
                                   ng-model="warehouse.dateEntry" ng-model-options="{timezone: 'UTC'}">
                        </div>
                        <div class="form-group">
                            <label translate="crmApp.warehouse.dateValid">DateValid</label>
                            <input type="datetime-local" class="form-control"
                                   ng-model="warehouse.dateValid" ng-model-options="{timezone: 'UTC'}">
                        </div>

                        <div class="form-group">
                            <label translate="crmApp.warehouse.person">person</label>
                            <select class="form-control" ng-model="territory.person.id"
                                    ng-options="person.id as person.firstName for person in persons">
                            </select>
                        </div>


                        <div class="form-group">
                            <label translate="crmApp.warehouse.territory">territory</label>
                            <select class="form-control" ng-model="warehouse.territory.id" ng-options="territory.id as territory.name for territory in territorys">
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteWarehouseConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(warehouse.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="crmApp.warehouse.delete.question" translate-values="{id: '{{warehouse.id}}'}">Are you sure you want to delete Warehouse {{warehouse.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="crmApp.warehouse.territory">territory</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="warehouse in warehouses">
                    <td><a ui-sref="warehouseDetails({id:warehouse.id})">{{warehouse.id}}</a></td>
                    <td>{{warehouse.territory.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="warehouseDetail({id:warehouse.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(warehouse.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(warehouse.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
