<div>

    <h2 translate="crmApp.codeBase.home.title">CodeBase</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveCodeBaseModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="crmApp.codeBase.home.createLabel">Create a new CodeBase</span>
    </button>
    <div class="modal fade" id="saveCodeBaseModal" tabindex="-1" role="dialog" aria-labelledby="myCodeBaseLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myCodeBaseLabel" translate="crmApp.codeBase.home.createOrEditLabel">Create or edit a CodeBase</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="codeBase.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="crmApp.codeBase.name">Name</label>
                            <input type="text" class="form-control"
                                   ng-model="codeBase.name">
                        </div>
                        <div class="form-group">
                            <label translate="crmApp.codeBase.dateEntry">DateEntry</label>
                            <input type="datetime-local" class="form-control"
                                   ng-model="codeBase.dateEntry" ng-model-options="{timezone: 'UTC'}">
                        </div>
                        <div class="form-group">
                            <label translate="crmApp.codeBase.dateValid">DateValid</label>
                            <input type="datetime-local" class="form-control"
                                   ng-model="codeBase.dateValid" ng-model-options="{timezone: 'UTC'}">
                        </div>

                        <div class="form-group">
                            <label translate="crmApp.codeBase.person">person</label>
                            <select class="form-control" ng-model="codeBase.person.id" ng-options="person.id as person.firstName for person in persons">
                            </select>
                        </div>
                        <div class="form-group">
                            <label translate="crmApp.codeBase.codeBase">codeBase</label>
                            <select class="form-control" ng-model="codeBase.codeBase.id" ng-options="codeBase.id as codeBase.name for codeBase in codeBases">
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteCodeBaseConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(codeBase.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="crmApp.codeBase.delete.question" translate-values="{id: '{{codeBase.id}}'}">Are you sure you want to delete CodeBase {{codeBase.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="crmApp.codeBase.name">Name</th>
                    <th translate="crmApp.codeBase.dateEntry">DateEntry</th>
                    <th translate="crmApp.codeBase.dateValid">DateValid</th>
                    <th translate="crmApp.codeBase.codeBase">person</th>
                    <th translate="crmApp.codeBase.codeBase">codeBase</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="codeBase in codeBases">
                    <td><a ui-sref="codeBaseDetails({id:codeBase.id})">{{codeBase.id}}</a></td>
                    <td>{{codeBase.name}}</td>
                    <td>{{codeBase.dateEntry}}</td>
                    <td>{{codeBase.dateValid}}</td>
                    <td>{{codeBase.person.firstName}}</td>
                    <td>{{codeBase.codeBase.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="codeBaseDetail({id:codeBase.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(codeBase.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(codeBase.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
