<div>

    <h2 translate="crmApp.classification.home.title">Classification</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveClassificationModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="crmApp.classification.home.createLabel">Create a new Classification</span>
    </button>
    <div class="modal fade" id="saveClassificationModal" tabindex="-1" role="dialog" aria-labelledby="myClassificationLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myClassificationLabel" translate="crmApp.classification.home.createOrEditLabel">Create or edit a Classification</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="classification.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="crmApp.classification.name">Name</label>
                            <input type="text" class="form-control"
                                   ng-model="classification.name">
                        </div>
                        <div class="form-group">
                            <label translate="crmApp.classification.classificationSegment">ClassificationSegment</label>
                            <input type="text" class="form-control"
                                   ng-model="classification.classificationSegment">
                        </div>

                        <div class="form-group">
                            <label translate="crmApp.classification.classification">classification</label>
                            <select class="form-control" ng-model="classification.classification.id" ng-options="classification.id as classification.name for classification in classifications">
                            </select>
                        </div>
                        <div class="form-group">
                            <label translate="crmApp.classification.classificationType">classificationType</label>
                            <select class="form-control" ng-model="classification.classificationType.id" ng-options="classificationType.id as classificationType.name for classificationType in classificationTypes">
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteClassificationConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(classification.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="crmApp.classification.delete.question" translate-values="{id: '{{classification.id}}'}">Are you sure you want to delete Classification {{classification.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="crmApp.classification.name">Name</th>
                    <th translate="crmApp.classification.classificationSegment">ClassificationSegment</th>
                    <th translate="crmApp.classification.classificationType">classification</th>
                    <th translate="crmApp.classification.classificationType">classificationType</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="classification in classifications">
                    <td><a ui-sref="classificationDetails({id:classification.id})">{{classification.id}}</a></td>
                    <td>{{classification.name}}</td>
                    <td>{{classification.classificationSegment}}</td>
                    <td>{{classification.classification.name}}</td>
                    <td>{{classification.classificationType.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="classificationDetail({id:classification.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(classification.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(classification.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
