<div>

    <h2 translate="crmApp.device.home.title">Device</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveDeviceModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="crmApp.device.home.createLabel">Create a new Device</span>
    </button>
    <div class="modal fade" id="saveDeviceModal" tabindex="-1" role="dialog" aria-labelledby="myDeviceLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myDeviceLabel" translate="crmApp.device.home.createOrEditLabel">Create or edit a Device</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="device.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="crmApp.device.customId">CustomId</label>
                            <input type="text" class="form-control"
                                   ng-model="device.customId">
                        </div>
                        <div class="form-group">
                            <label translate="crmApp.device.serialNumber">SerialNumber</label>
                            <input type="text" class="form-control"
                                   ng-model="device.serialNumber">
                        </div>
                        <div class="form-group">
                            <label translate="crmApp.device.status">Status</label>
                            <input type="text" class="form-control"
                                   ng-model="device.status">
                        </div>
                        <div class="form-group">
                            <label translate="crmApp.device.firmsareVersion">FirmsareVersion</label>
                            <input type="text" class="form-control"
                                   ng-model="device.firmsareVersion">
                        </div>
                        <div class="form-group">
                            <label translate="crmApp.device.dateEntry">DateEntry</label>
                            <input type="datetime-local" class="form-control"
                                   ng-model="device.dateEntry" ng-model-options="{timezone: 'UTC'}">
                        </div>
                        <div class="form-group">
                            <label translate="crmApp.device.dateValid">DateValid</label>
                            <input type="datetime-local" class="form-control"
                                   ng-model="device.dateValid" ng-model-options="{timezone: 'UTC'}">
                        </div>

                        <div class="form-group">
                            <label translate="crmApp.device.item">item</label>
                            <select class="form-control" ng-model="device.item.id" ng-options="item.id as item.name for item in items">
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteDeviceConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(device.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="crmApp.device.delete.question" translate-values="{id: '{{device.id}}'}">Are you sure you want to delete Device {{device.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="crmApp.device.customId">CustomId</th>
                    <th translate="crmApp.device.serialNumber">SerialNumber</th>
                    <th translate="crmApp.device.status">Status</th>
                    <th translate="crmApp.device.firmsareVersion">FirmsareVersion</th>
                    <th translate="crmApp.device.dateEntry">DateEntry</th>
                    <th translate="crmApp.device.dateValid">DateValid</th>
                    <th translate="crmApp.device.item">item</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="device in devices">
                    <td><a ui-sref="deviceDetails({id:device.id})">{{device.id}}</a></td>
                    <td>{{device.customId}}</td>
                    <td>{{device.serialNumber}}</td>
                    <td>{{device.status}}</td>
                    <td>{{device.firmsareVersion}}</td>
                    <td>{{device.dateEntry}}</td>
                    <td>{{device.dateValid}}</td>
                    <td>{{device.item.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="deviceDetail({id:device.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(device.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(device.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
