<div>

    <h2 translate="crmApp.deviceOnPartnerLocation.home.title">DeviceOnPartnerLocation</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveDeviceOnPartnerLocationModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="crmApp.deviceOnPartnerLocation.home.createLabel">Create a new DeviceOnPartnerLocation</span>
    </button>
    <div class="modal fade" id="saveDeviceOnPartnerLocationModal" tabindex="-1" role="dialog" aria-labelledby="myDeviceOnPartnerLocationLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myDeviceOnPartnerLocationLabel" translate="crmApp.deviceOnPartnerLocation.home.createOrEditLabel">Create or edit a DeviceOnPartnerLocation</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="deviceOnPartnerLocation.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="crmApp.deviceOnPartnerLocation.dateFrom">DateFrom</label>
                            <input type="date" class="form-control"
                                   ng-model="deviceOnPartnerLocation.dateFrom">
                        </div>
                        <div class="form-group">
                            <label translate="crmApp.deviceOnPartnerLocation.dateTo">DateTo</label>
                            <input type="datetime-local" class="form-control"
                                   ng-model="deviceOnPartnerLocation.dateTo" ng-model-options="{timezone: 'UTC'}">
                        </div>
                        <div class="form-group">
                            <label translate="crmApp.deviceOnPartnerLocation.status">Status</label>
                            <input type="text" class="form-control"
                                   ng-model="deviceOnPartnerLocation.status">
                        </div>
                        <div class="form-group">
                            <label translate="crmApp.deviceOnPartnerLocation.comment">Comment</label>
                            <input type="text" class="form-control"
                                   ng-model="deviceOnPartnerLocation.comment">
                        </div>

                        <div class="form-group">
                            <label translate="crmApp.deviceOnPartnerLocation.device">device</label>
                            <select class="form-control" ng-model="deviceOnPartnerLocation.device.id" ng-options="device.id as device.name for device in devices">
                            </select>
                        </div>
                        <div class="form-group">
                            <label translate="crmApp.deviceOnPartnerLocation.businesspartner">businesspartner</label>
                            <select class="form-control" ng-model="deviceOnPartnerLocation.businesspartner.id" ng-options="businesspartner.id as businesspartner.name for businesspartner in businesspartners">
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteDeviceOnPartnerLocationConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" ng-submit="confirmDelete(deviceOnPartnerLocation.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="crmApp.deviceOnPartnerLocation.delete.question" translate-values="{id: '{{deviceOnPartnerLocation.id}}'}">Are you sure you want to delete DeviceOnPartnerLocation {{deviceOnPartnerLocation.id}}?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="crmApp.deviceOnPartnerLocation.dateFrom">DateFrom</th>
                    <th translate="crmApp.deviceOnPartnerLocation.dateTo">DateTo</th>
                    <th translate="crmApp.deviceOnPartnerLocation.status">Status</th>
                    <th translate="crmApp.deviceOnPartnerLocation.comment">Comment</th>
                    <th translate="crmApp.deviceOnPartnerLocation.businesspartner">device</th>
                    <th translate="crmApp.deviceOnPartnerLocation.businesspartner">businesspartner</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="deviceOnPartnerLocation in deviceOnPartnerLocations">
                    <td><a ui-sref="deviceOnPartnerLocationDetails({id:deviceOnPartnerLocation.id})">{{deviceOnPartnerLocation.id}}</a></td>
                    <td>{{deviceOnPartnerLocation.dateFrom}}</td>
                    <td>{{deviceOnPartnerLocation.dateTo}}</td>
                    <td>{{deviceOnPartnerLocation.status}}</td>
                    <td>{{deviceOnPartnerLocation.comment}}</td>
                    <td>{{deviceOnPartnerLocation.device.name}}</td>
                    <td>{{deviceOnPartnerLocation.businesspartner.name}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="deviceOnPartnerLocationDetail({id:deviceOnPartnerLocation.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(deviceOnPartnerLocation.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(deviceOnPartnerLocation.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
